:root{
    --text-color: #212121;
    --link-clolor: #757575;
    --background-color: #F5F4FA;
    --button-color: #2196F3;
    --svg-color: #AFB1B8;
    
}

body{
    font-family:'Roboto','Verdana', sans-serif;
    margin:0;
    color: var(--text-color);
}

ul{
    padding: 0;
    margin: 0;
}


.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    border: 1px solid #ECECEC;
    
}


.header_box{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex { 
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    height: 80px;     
    background-color: #fff; 
    gap:93px
}


.footer{
    display: flex;
    background-color: #2F303A;
    color: #FFFFFF;

    height: 252px;
    justify-content: space-between;
    align-items: center;


}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.section_listbuttons{
    padding-top: 94px;
    padding-bottom: 50px;
}

.section_button{
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url("../images/background.jpg");
    display: flex;
    height: 600px;
    margin-left: 0;
    margin-top: 0;
    background-color: #2F303A;
    justify-content: center;
    align-items: center;
}

.headline_content{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

}

.footer .logo{
    color: #FFFFFF;
}


.pictures_staff{
background-color:var(--background-color);

}

.section_portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}

.link{
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    color: var(--tekst-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.link .footer_adress{
    margin-bottom: 9px;
    font-weight: 400;
    letter-spacing: 0.03em;

}
.link_tel{
    text-decoration: none;
    cursor: pointer;
    color: var(--link-clolor);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}




.footer .link{
    color: var(--link-clolor);
    font-size: 14px;
    line-height: 2.4;
}

.footer p{
    font-size: 14px;
    line-height: 2;
}

.link:focus,
.link:hover {
    color: var(--button-color);
}

.button_main{
    width: 200px;
    height: 50px;
    margin-left: 700px;        
    margin-top: 430px;
    color: #FFFFFF;
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 8%;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;

       
}
.button_portfolio {
    padding: 6px 22px 6px 22px;
    background-color: var(--background-color);
    border-color: var(--background-color);
    border-radius: 8%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;

}
.button_portfolio:focus,
.button_portfolio:hover{
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
}

.headline_h1 {
    color:#FFFFFF;
    align-items: center;
    line-height: 2;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 60px;


}

.headline_h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.list_header{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    gap: 46px;
    padding: 0;
    margin:0;


}

.list_header_tel {
    display: flex;
    list-style-type: none;
    justify-content: space-between;  
    align-items: baseline;
    border-radius: 4px;
    gap: 50px;
    padding-inline-start: 0;
    fill: var(--svg-color);
}

.list_header_tel a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list_header_tel a:focus,
.list_header_tel a:hover {
    fill: var(--button-color);
    color: var(--button-color);
}


.list_main{
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 0; 
}


.section_listbuttons .list_main{
    justify-content: center;
    gap: 15px;
}

.list_main_pictures {
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;


}

.list_main img{
    border-radius: 0px;
}

.list_main_text {
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.03em;
    color: var(--link-clolor);
    margin: 0;
    padding: 0;
    

}

.list_main_text ul{
    padding-inline-start: 0;
}

.list_main_text p {
    margin: 0;
}

.list_main_text h3{
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 10px;
}

.picture{
    padding-bottom: 0;
    margin-bottom: 0;
}


.list_block{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    gap:30px;

}

.list_block figure{
    border: 1px solid #EEEEEE;
    padding: 0;
}

figure{
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.inf_picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.inf_picture p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 5px;
}

.inf_picture_portfolio{
    background-color: #FFFFFF;
    padding: 20px 24px 20px 24px;
    padding-top: 1%;
}

.inf_picture_portfolio p{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.picture_box{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 428px;
}


.list_block figure:hover {
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.blue{
    color:var(--button-color);
}

.gray{
    color: var(--link-clolor);
}

.footer_adress {
    display: flex;
    flex-direction: column;

}

.footer_adress p{
    margin-bottom: 9px;
    margin-top: 20px;

}

figcapition p{
    margin: 0;
    padding-bottom: 10px;
}

.grafic{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    height: 120px;
}

p{
    margin: 0;
}

.socialmedia{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

.socialmedia svg{
    padding: 12px;
}

.socialmedia a{
    fill: var(--svg-color);
    cursor: pointer;
}

.socialmedia li{
    height: 1px;
}

.socialmedia a:hover,
.socialmedia a:focus{
    display: flex;
    border-radius: 100%;
    background-color: var(--button-color);
    fill: #FFFFFF;
    color: #fff;
    height: 44px;
}

.footer_socialmedia{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;  
    gap: 10px;
}

.footer_socialmedia svg {
    padding: 12px;
    fill: #FFFFFF;
}

.footer_socialmedia li{
    height: 1px;
}
.footer_socialmedia a {
    display: flex;
    height: 44px;
    border-radius: 90%;
    background-color: rgba(255, 255, 255, 0.1);
}


.footer_socialmedia a:focus,
.footer_socialmedia a:hover {
    
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--button-color);
    height: 44px;

}

.list_clients{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    fill: var(--svg-color);
}
.list_clients a{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width:170px ;
    height:92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_clients a:focus,
.list_clients a:hover {
    fill:var(--button-color);
    color: var(--button-color);
    cursor: pointer;
    border: 1px solid var(--button-color);
}

.list_clients svg:hover {
    fill: var(--button-color);
    cursor: pointer;

}

.margin{
    margin-top: 94px;
    margin-bottom: 94px;
}

.container_social{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap:70px;
    list-style-type: none;
}

.container_social p{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}